---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.last-modified {
  display: block;
  text-align: right;
  font-style: italic;
  font-size: smaller;
  color: #828282;
}

/**
 * Tables (until this is released in minima)
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: left;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}
